.pink {
    background-color: $pink;
}

.red {
    background-color: $red;
}

.orange {
    background-color: $orange;
}

.yellow {
    background-color: $yellow;
}

.light-green {
    background-color: $lightGreen;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}
